<% include header %>

<nav>
	<h1>Gtacts</h1>
	<div class="user">Hey there, <%= user.name %>. (<a href="./logout">Logout</a>)</a>
</nav>
<form>
	<input type="text" name="filter" id="filter" placeholder="Filter contacts...">
</form>
<ul id="directory"></ul>
<div class="detail">
	<div id="contact-anchor"></div>
	<div id="contact"><img src="./images/blank-slate.jpg" alt="Pick a contact to see details." /></div>
</div>

<script id="directoryRowTemplate" type="text/template">
	<a href="#">{{ name }}</a>
</script>

<script id="contactDetailTemplate" type="text/template">
	<img src="./api/photo/{{ id }}" class="avatar" />
	<h1>{{ name }}</h1>
	<dl>
		<dt>Telephone:</dt> <dd>{{ phone }}</dd>
		<dt>Email:</dt> <dd><a href="mailto:{{ email }}">{{ email }}</a></dd>
	</dl>
</script>

<% include footer %>