<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>gtacts</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
</head>
<body>
	<%- body %>

	<script type="text/javascript" src="./components/jquery/jquery.js"></script>
	<script type="text/javascript" src="./components/underscore/underscore.js"></script>
	<script type="text/javascript" src="./components/backbone/backbone.js"></script>
	<script type="text/javascript" src="./javascripts/client.js"></script>
</body>
</html>