body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#contacts {
	float: left;
	width: 300px;
	list-style: none;
	margin: 0;
}

.contact-container a {
	display: block;
	width: 100%;
	color: #333;
	border-bottom: 1px solid #eee;
	padding: 1em;
}

.contact-container a:hover {
	background: #eee;
}

#detail {
	float: left;
	width: 500px;
	margin: 0 4em;
	padding: 1em;
	border: 1px solid #eee;
	box-shadow: rgba(0,0,0,0.1) 0px 0px 5px;
}



.contact-container dt {
	font-weight: bold;
}

.contact-container dd {
	margin: 0 1.5em;
}